<div>
  <input type="username" ng-model="username" placeholder="Github user name" ng-keyup="$event.keyCode == 13 && getGitInfo()">  <!--$event.keyCode == 13 is the enter key -->
  <button ng-click="">Search</button>
</div>

<div ng-show="loaded">
  <img ng-src="{{user.avatar_url}}" width="100" height="100" alt="{{user.user_name}}">
  <div>
    <h1 ng-show="loaded">{{user.name}}</h1>
    <ul>
      <li ng-show="loaded">{{user.login}}</li>
      <li ng-if != null>{{user.blog}}</li>
      <li ng-if != null>{{user.email}}</li>
      <li>{{user.location}}</li>
    </ul>
   </div>

  <div>
    <ul>
      <li>{{user.followers}} <p>Followers</p></li>
      <li>{{user.starred}} <p>Starred</p></li>
      <li>{{user.following}} <p>Following</p> </li>
    </ul>
  </div>

  <ul ng-repeat="repo in repos">
    <li>{{repo.html_url}}</li>
  </ul>

</div>

<div ng-show="error">
  <p>{{error}}</p>
</div>

