<div ng-show="loaded" class="row" id="user-panel">
  <div class="col-md-4">
    <img ng-src="{{user.avatar_url}}" class="img-responsive" alt="{{user.user_name}}">

    <div id="name-details">
      <h1><span class="name">{{user.name}}</span>
        <span class="username">{{user.login}}</span></h1>
    </div>

    <div id="user-details">
      <ul>
        <li><a href="{{user.blog}}"><span id="blog">{{user.blog}}</span></a></li>
        <li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:{{user.email}}"><span id="email">{{user.email}}</span></a></li>
        <li><span class="glyphicon glyphicon-map-marker"></span>{{user.location}}</li>
      </ul>
    </div>

    <div id="followers-details">
      <ul class="list-inline">
        <li class="text-center">{{user.followers}} <p><a href="#followers/{{user.login}}" ng-click="">Followers</a></p></li>
        <li class="text-center">{{user.starred}} <p>Starred</p></li>
        <li class="text-center">{{user.following}} <p>Following</p></li>
      </ul>
    </div>
  </div>

  <!-- Repo Table -->
  <div class="col-md-8" ng-controller="PaginationCtrl">
    <ul>
      <li ng-repeat="repo in repos | pagination: curPage * pageSize | limitTo: pageSize" >
        <!--<a href="{{repo.html_url}}" alt="{{repo.name}}">{{repo.name}}</a>-->
        <a href="#{{user.login}}/repo/{{repo.name}}">{{repo.name}}</a>
        <p>{{repo.description}}</p>
        <p><span class="date-name">Last Updated </span>{{repo.updated_at | date:longDate}}</p>
        <hr>
      </li>
    </ul>

    <!--Pagination div --->

    <div class="pagination-div" ng-show="repos.length">
      <ul>
        <li>
          <button type="button" class="btn btn-default"
                  ng-disabled="curPage == 0"
                  ng-click="curPage=curPage-1">PREV</button>
        </li>
        <li class="alignmid">
          <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
        </li>
        <li>
          <button type="button" class="btn btn-default"
                  ng-disabled="curPage >= repos.length/pageSize - 1"
                  ng-click="curPage = curPage+1">NEXT </button>
        </li>
      </ul>
    </div>

  </div>

</div><!--end row-->

<div ng-show="error">
  <p>{{error}}</p>
</div>

